In [2]:
import pandas as pd

In [16]:
ds = pd.read_csv('Total - Population.csv')
pd.set_option('display.max.columns', None)
ds['index'] = [1,2,3,4,5,0]
ds.set_index('index', inplace = True)
ds.sort_index(inplace = True)
ds

           Kabupaten_Kota  Kepala_Keluarga  Penduduk  Bawah_Umur  Pemilih
index
0      KAB.ADM.KEP.SERIBU             8528     29231       10152    19079
1           JAKARTA BARAT           819866   2529017      783323  1745694
2           JAKARTA PUSAT           391143   1153681      331406   822275
3         JAKARTA SELATAN           762228   2319700      711583  1608117
4           JAKARTA TIMUR          1032021   3234484     1002044  2232440
5           JAKARTA UTARA           601199   1816214      577718  1238496

In [19]:
ds['Penduduk'][int(1/5)]

29231

In [33]:
df = pd.read_csv('Top 5 - Education.csv')
pd.set_option('display.max.columns', None)

persentase = []
for i in range(0,len(df)):
  persentase.append(round(df['Jumlah'][i] / ds['Kepala_Keluarga'][int(i/5)] * 100, 2))

df['Persentase'] = persentase
df = df[['Kabupaten_Kota', 'Pendidikan', 'Jumlah', 'Persentase', 'Peringkat']]
df[df['Peringkat'] < 4]

           Kabupaten_Kota           Pendidikan  Jumlah  Persentase  Peringkat
0   ADM. KEPULAUAN SERIBU   Tamat SD/Sederajat    3550       41.63          1
1   ADM. KEPULAUAN SERIBU       SLTA/Sederajat    2760       32.36          2
2   ADM. KEPULAUAN SERIBU       SLTP/Sederajat    1359       15.94          3
5           JAKARTA BARAT       SLTA/Sederajat  388568       47.39          1
6           JAKARTA BARAT       SLTP/Sederajat  139931       17.07          2
7           JAKARTA BARAT   Tamat SD/Sederajat  120043       14.64          3
10          JAKARTA PUSAT       SLTA/Sederajat  194334       49.68          1
11          JAKARTA PUSAT  Diploma IV/Strata I   57574       14.72          2
12          JAKARTA PUSAT       SLTP/Sederajat   55907       14.29          3
15        JAKARTA SELATAN       SLTA/Sederajat  352819       46.29          1
16        JAKARTA SELATAN  Diploma IV/Strata I  153432       20.13          2
17        JAKARTA SELATAN       SLTP/Sederajat   85269       11.19          3
20          JAKARTA TIMUR       SLTA/Sederajat  520817       50.47          1
21          JAKARTA TIMUR  Diploma IV/Strata I  175065       16.96          2
22          JAKARTA TIMUR       SLTP/Sederajat  126556       12.26          3
25          JAKARTA UTARA       SLTA/Sederajat  301805       50.20          1
26          JAKARTA UTARA       SLTP/Sederajat  106247       17.67          2
27          JAKARTA UTARA   Tamat SD/Sederajat   87614       14.57          3

In [34]:
de = pd.read_csv('Top 5 - Jobs.csv')
pd.set_option('display.max.columns', None)

persentase2 = []
for i in range(0,len(df)):
  persentase2.append(round(de['Jumlah'][i] / ds['Kepala_Keluarga'][int(i/5)] * 100, 2))

de['Persentase'] = persentase2
de = de[['Kabupaten_Kota', 'Pekerjaan', 'Jumlah', 'Persentase', 'Peringkat']]
de[de['Peringkat'] < 4]

,Kabupaten_Kota,Pekerjaan,Jumlah,Persentase,Peringkat
0,ADM. KEPULAUAN SERIBU,Nelayan/Perikanan,3824,44.84,1
1,ADM. KEPULAUAN SERIBU,Mengurus Rumah Tangga,1132,13.27,2
2,ADM. KEPULAUAN SERIBU,Karyawan Swasta,792,9.29,3
5,JAKARTA BARAT,Karyawan Swasta,450422,54.94,1
6,JAKARTA BARAT,Wiraswasta,144672,17.65,2
7,JAKARTA BARAT,Mengurus Rumah Tangga,106799,13.03,3
10,JAKARTA PUSAT,Karyawan Swasta,182080,46.55,1
11,JAKARTA PUSAT,Wiraswasta,67416,17.24,2
12,JAKARTA PUSAT,Mengurus Rumah Tangga,59758,15.28,3
15,JAKARTA SELATAN,Karyawan Swasta,395830,51.93,1
16,JAKARTA SELATAN,Wiraswasta,127803,16.77,2
17,JAKARTA SELATAN,Mengurus Rumah Tangga,96925,12.72,3
20,JAKARTA TIMUR,Karyawan Swasta,485920,47.08,1
21,JAKARTA TIMUR,Wiraswasta,190832,18.49,2
22,JAKARTA TIMUR,Mengurus Rumah Tangga,128799,12.48,3
25,JAKARTA UTARA,Karyawan Swasta,279605,46.51,1
26,JAKARTA UTARA,Wiraswasta,106629,17.74,2
27,JAKARTA UTARA,Mengurus Rumah Tangga,83311,13.86,3

In [27]:
df['Pendidikan'].unique()

array(['Tamat SD/Sederajat', 'SLTA/Sederajat', 'SLTP/Sederajat',
       'Diploma IV/Strata I', 'Akademi/Diploma III/S. Muda'], dtype=object)